<div class="container" style="padding-top:60px">
  <div class="row">
    <section class="main col-md-9">
      <article>
      <h2>About</h2>
     <p>
        Hi, I'm Stebin George, currently enrolled in the Software Development Program at Seneca College. 
        I'm passionate about fitness and music. I aspire to secure a job in tech once I graduate. 
        
        Designing interactive and aesthetic webpages is something I would love to do  and I am eager to acquire new techniques and skills in my web 
        programming course to create top-notch web pages.
    </p>
      </article>
    </section>
    <aside class="col-md-3">
      <h2>Coming Soon</h2>
      <p>Stay tuned.</p>
    </aside>
  </div>
</div>